body {
    box-sizing: border-box;
    margin: 0px;
    width:100%;
    text-align: center;
    display:flex;
    justify-content: center;
    justify-items: center;
}

.wrapper {
  display: grid;

  grid-template-columns: auto;
   /* grid-template-columns: 1fr; */
   grid-template-areas:
   'header'
   'content'
   'footer';
   gap: 0;

}
.content {
    background-color: #00FFFF;
    }

.footer {
    background-color: #FF7F50;
    }

.header {
    background-color: #4ee728;
    }

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    background-color: #FFD700;
}